$primary-color: #041C32;
$secondary-color: #04293A;
$accent-color: #064663;
$important-color: #ECB365;
$highprio-color: #A10035;
$medprio-color: #FFE7BF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body, html {
    height: 100vh;
}