$primary-color: #041C32;
$secondary-color: #04293A;
$accent-color: #064663;
$important-color: #ECB365;
$highprio-color: #A10035;
$medprio-color: #FFE7BF;
$list-highlight-color: #031d36;
$text-color: #FFF;

@mixin sidebar-hover($color) {
    &:hover {
        transition: 0.4s;
        background-color: $color;
        cursor: pointer;
    }
}

@mixin form-display() {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: all;
}

@mixin form-box() {
    background-color: $secondary-color;
    border: 2px solid $accent-color;
    width: 70vw;
    border-radius: 5px;
}

@mixin form-top() {
    background-color: $accent-color;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;

    h1 {
        font-size: 2rem;
        cursor: default;
    }
}

@mixin form-position() {
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

@mixin form-submit-button() {
    background-color: $important-color;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    padding: 1rem 3rem;
    border-radius: 5px;
    margin-top: 1rem;
    align-self: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    color: $text-color;
}

body,
html {
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 8vh;
    padding: 0 2rem;
    background-color: $primary-color;

    &__button {
        width: 65px;
        height: 65px;
        font-size: 3rem;
        border-radius: 50%;
        border: 0;
        background-color: $important-color;
    }
}

main {
    display: flex;
    height: 92vh;

    background-color: $secondary-color;
}

.sidebar {
    background-color: $accent-color;
    font-size: 1.4rem;
    width: 280px;

    &__main {
        padding: 1rem 0;
        border-bottom: 1px solid $primary-color;
    }

    &__projects {
        text-align: center;

        p {
            padding: 1rem;
            @include sidebar-hover($primary-color);
        }
    }

    &__item {
        padding: 1rem;

        &--active {
            font-weight: 900;
            background-color: $important-color;
        }

        @include sidebar-hover($important-color);
    }
}

.list {
    width: 100%;
    overflow: scroll; // CHANGE TO HIDE DURING ADDING

    &__items {
        padding: 1rem;
    }

    &__item {
        margin-bottom: 0.5rem;
        background-color: $primary-color;
        font-size: 1.5rem;

        &--active {
            background-color: $list-highlight-color;

            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
        }

        @include sidebar-hover($list-highlight-color);
    }

    &__wrapper {
        width: 100%;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        &--high {
            border-left: 5px solid $highprio-color;
        }

        &--med {
            border-left: 5px solid $medprio-color;
        }

        &--active {
            padding-bottom: 1rem;
            border-bottom: 1px solid $secondary-color;
        }
    }

    &__right {
        display: flex;
    }

    &__check {
        width: 50px;
        accent-color: $important-color;
    }

    &__desc {
        display: none;

        padding: 1rem;
        padding-top: 1rem;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;

        &--active {
            display: block;
        }
    }

    &__descText {
        padding-bottom: 1rem;

        :first-child {
            font-weight: 700;
            padding-bottom: 0.5rem;
        }

        :last-child {
            font-size: 1.3rem;
        }
    }


    &__delete-wrapper {
        text-align: right;
    }

    &__delete {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        background-color: $highprio-color;
        text-align: center;
        border-radius: 5px;
        padding: 0.5rem;
        border: 0;
    }
}

.add {
    @include form-display();


    &__box {
        @include form-box();
    }


    &__top {
        @include form-top();
    }

    &__form {
        @include form-position();

        input,
        textarea {
            margin-bottom: 1rem;
            background-color: $primary-color;
            border: none;
        }

        input[type="text"],
        textarea {
            display: block;
            width: 100%;
        }

        input[type="text"] {
            font-size: 1.5rem;
        }

        textarea {
            font-size: 1.2rem;
            resize: none;
        }

        input[type="date"],
        input[type="time"] {
            font-size: 1.2rem;
            border-radius: 4px;
            padding: 0.2rem;

            border: 1px solid $accent-color;
        }

        button[type="button"] {
            padding: 0.2rem 1rem;
            border: none;
        }

        #low {
            background-color: $accent-color;
        }

        #med {
            background-color: $medprio-color;
            color: $primary-color;
        }

        #high {
            background-color: $highprio-color;
        }

        button[type="submit"] {
            @include form-submit-button();
        }

    }
}

.add-proj {
    @include form-display();
    
    &__box {
        @include form-box();
    }


    &__top {
        @include form-top();
    }

    &__form {
        @include form-position();

        input {
            margin-bottom: 1rem;
            background-color: $primary-color;
            border: none;
            display: block;
            width: 100%;
            font-size: 1.5rem;
        }

        button {
            @include form-submit-button();
        }

    }
}